
2) Export the merged file in pickle format as “orders_products_combined.pkl”.

# Importing Libraries

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

## Creating a path to the new data set df_ords_prior

In [2]:
path = r'C:\Users\mmoss\20-12-2021 Instacart Basket Analysis'

## Importing the csv files

In [3]:
# Importing the order_products__prior.csv file no restrictions
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products__prior.csv'))

In [6]:
# Importing the orders.csv file no restrictions
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_cleanednew.csv'), usecols = vars_list)

In [7]:
# Removing the unnamed column from the data frame
vars_list = ['order_id', 'user_id', 'order_number', 'orders_day_of_week', 'order_hour_of_day', 'days_since_prior_order', 'first_order']

## Checking the dimensions of the dataframes

In [8]:
df_ords_prior.shape

(32434489, 4)

32,434,489 rows and 4 columns.

In [9]:
df_ords.shape

(3421083, 7)

3,421,083 rows and 7 columns.

In [16]:
#Checking for missing values
df_ords_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [17]:
#Checking for missing values
df_ords.isnull().sum()

order_id                       0
user_id                        0
order_number                   0
orders_day_of_week             0
order_hour_of_day              0
days_since_prior_order    206209
first_order                    0
dtype: int64

## Checking the head() of the data

In [10]:
#order_products__prior
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [11]:
#orders_cleanednew.csv
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order
0,2539329,1,1,2,8,NaN,True
1,2398795,1,2,3,7,15.0,False
2,473747,1,3,3,12,21.0,False
3,2254736,1,4,4,7,29.0,False
4,431534,1,5,4,15,28.0,False

order_id is common between them.

## Merging the data

In [12]:
# Merging the two dataframes through order_id
df_merged = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [13]:
# Testing it
df_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [14]:
# Checking to see the frequencies of the _merge column
df_merged['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

All rows are a full match

In [15]:
# Looking at the missing values
df_merged.isnull().sum()

order_id                        0
user_id                         0
order_number                    0
orders_day_of_week              0
order_hour_of_day               0
days_since_prior_order    2078068
first_order                     0
product_id                      0
add_to_cart_order               0
reordered                       0
_merge                          0
dtype: int64

In [33]:
# Merging the data frames using outer join
df_ords_prior.merge(df_ords, on = ['order_id'], how = 'outer')

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order
0,2,33120.0,1.0,1.0,202279,3,5,9,8.0,False
1,2,28985.0,2.0,1.0,202279,3,5,9,8.0,False
2,2,9327.0,3.0,0.0,202279,3,5,9,8.0,False
3,2,45918.0,4.0,1.0,202279,3,5,9,8.0,False
4,2,30035.0,5.0,0.0,202279,3,5,9,8.0,False
...,...,...,...,...,...,...,...,...,...,...
32640693,1716008,NaN,NaN,NaN,206205,4,1,16,10.0,False
32640694,1043943,NaN,NaN,NaN,206206,68,0,20,0.0,False
32640695,2821651,NaN,NaN,NaN,206207,17,2,13,14.0,False
32640696,803273,NaN,NaN,NaN,206208,50,5,11,4.0,False
32640697,272231,NaN,NaN,NaN,206209,14,6,14,30.0,False

In [27]:
# Setting a variable for the outer joined data
df_merge2 = df_ords_prior.merge(df_ords, on = ['order_id'], how = 'outer', indicator = True)

In [37]:
# Displaying it
df_merge2

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,_merge
0,2,33120.0,1.0,1.0,202279,3,5,9,8.0,False,both
1,2,28985.0,2.0,1.0,202279,3,5,9,8.0,False,both
2,2,9327.0,3.0,0.0,202279,3,5,9,8.0,False,both
3,2,45918.0,4.0,1.0,202279,3,5,9,8.0,False,both
4,2,30035.0,5.0,0.0,202279,3,5,9,8.0,False,both
...,...,...,...,...,...,...,...,...,...,...,...
32640693,1716008,NaN,NaN,NaN,206205,4,1,16,10.0,False,right_only
32640694,1043943,NaN,NaN,NaN,206206,68,0,20,0.0,False,right_only
32640695,2821651,NaN,NaN,NaN,206207,17,2,13,14.0,False,right_only
32640696,803273,NaN,NaN,NaN,206208,50,5,11,4.0,False,right_only
32640697,272231,NaN,NaN,NaN,206209,14,6,14,30.0,False,right_only

In [29]:
# Seeing if there is a full match for the outer joined data
df_merge2['_merge'].value_counts()

both          32434489
right_only      206209
left_only            0
Name: _merge, dtype: int64

# ----------Task-----------------

##  2. Exporting merged df_ords_prior and df_ords to .pkl format

In [34]:
# Exporting in .pkl format
df_merged.to_pickle(os.path.join(path,'02 Data','Prepared Data','orders_products_combined.pkl'))

In [36]:
# Checking the shape of the dataframe
df_merged.shape

(32434489, 11)

## Task continued in part 2