# Importing libraries

In [2]:
# Import Libraries
import pandas as pd
import numpy as np
import os

## Importing Datasets

In [4]:
# Inserting orders.csv as a dataframe
df = pd.read_csv(r'C:\Users\mmoss\20-12-2021 Instacart Basket Analysis\02 Data\Original Data\orders.csv', index_col = False)

## Assigning the path to a variable

In [5]:
path = r'C:\Users\mmoss\20-12-2021 Instacart Basket Analysis'

In [6]:
path

'C:\\Users\\mmoss\\20-12-2021 Instacart Basket Analysis'

## Adding the orders.csv dataset

In [7]:
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col = False)

## Importing the orders.csv file without the eval_set column

In [18]:
vars_list = ['order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order']

In [19]:
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), usecols = vars_list)

In [20]:
vars_list

['order_id',
 'user_id',
 'order_number',
 'order_dow',
 'order_hour_of_day',
 'days_since_prior_order']

In [22]:
df.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0